@use "./base.scss";
@use "./variables.scss" as *;
@use "./custom/callout-adjustment.scss";
@use "./custom/caption.scss";
@use "./custom/column.scss";
@use "./custom/tabs.scss";
@use "./custom/infobox-callout.scss";
@use "./custom/tables.scss";
@use "./custom/new-explorer.scss";

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--dark);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--lightgray);
  color: var(--dark);
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--lightgray) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.callout {
  &[data-callout="skills"] {
    --color: #00b0ff;
    --border: #00b0ff44;
    --bg: #00b0ff10;
    --callout-icon: var(--callout-icon-abstract);

    @media all and ($mobile) {
      margin-top: -80px;
    }
  }
}
