@use "./base.scss";
@use "./variables.scss" as *;
@use "./custom/callout-adjustment.scss";
@use "./custom/caption.scss";
@use "./custom/column.scss";
@use "./custom/tabs.scss";

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--dark);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--lightgray);
  color: var(--dark);
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--lightgray) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.borderless-table table,
.borderless-table th,
.borderless-table td,
.borderless-table tr {
  border: none !important;
  box-shadow: none !important;
}

.borderless-table th {
  font-weight: normal !important;
}