@use "./base.scss";
@use "./variables.scss" as *;
@use "./custom/callout-adjustment.scss";
@use "./custom/caption.scss";
@use "./custom/column.scss";
@use "./custom/tabs.scss";
@use "./custom/infobox-callout.scss";

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--dark);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--lightgray);
  color: var(--dark);
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--lightgray) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.borderless-table {
  table, th, td {
    text-align: left;
  }
  tr {
    border: none !important;
    box-shadow: none !important;
  }

  th {
    font-weight: normal !important;
  }
}

.fixed-column {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  border-bottom: 1px solid var(--gray);
  background-color: var(--lightgray);
}

.stats-table table,
.stats-table tr {
  border-bottom: 1px solid var(--gray);
  line-height: 1rem;
}
.stats-table th, td {
  text-align: center;
  padding: 8px;
}

.stats-table th {
  background-color: var(--lightgray);
  border-bottom: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
}

.stats-table td:nth-child(odd) {
  border-right: 2px solid var(--gray);
}

.stats-table td:last-child, th:last-child  {
  border-right: none;
}

.stats-table tr:hover {
  background-color: var(--tertiary);
}

.callout {
  &[data-callout="skills"] {
    --color: #00b0ff;
    --border: #00b0ff44;
    --bg: #00b0ff10;
    --callout-icon: var(--callout-icon-abstract);

    @media all and ($mobile) {
      margin-top: -80px;
    }

    @media all and ($tablet) {
      margin-top: -80px;
    }
  }
}

.skill-table { 
  table, th, td, tr {
    text-align: left;
    margin: 1rem;
    border-collapse: collapse;
    line-height: 1.6rem;
    }

    tr {
      border: none !important;
    }

    td {
      padding:0;
    }

    th {
      border-bottom: 1px solid var(--gray);
      font-weight: normal;
    }
}
